#board table {
    border-spacing: 0px;
    border-collapse: collapse;
}

#board table td {
    font-family: Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    padding: 0px;
    width: 60px;
    height: 60px;
    border: 1px solid black;
}

#board table .player0 {
    content: "x";
    background-color: rgb(124, 252, 0);
}

#board table .player1 {
    content: "o";
    background-color: rgb(250, 128, 114);
}

#board .progress-bar {
    height: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
}

#board .progress-bar div {
    width: 0%;
    height: 100%;
    background-color: #000;
}